@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --secondary-background-color: #2F303A;
  --secondary-color: #F5F4FA;
  --social-color: #AFB1B8;
  --main-font-family: Roboto, sans-serif;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1 {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

h3 {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

ul,
h2,
h3,
p {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (min-width: 768px) {
  h3 {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  h1 {
    font-size: 44px;
    line-height: 1.36;
  }
  h2 {
    font-size: 36px;
  }
}
header {
  border-bottom: 1px solid #ECECEC;
}

.header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.logo__name {
  color: var(--accent-color);
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}
.nav__items:not(:first-child) {
  margin-left: 50px;
}
.nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus, .nav__link--current {
  color: var(--accent-color);
}
.nav__link--current {
  position: relative;
  min-height: 48px;
}
.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav__link,
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  stroke: var(--accent-color);
}
.contacts__hover {
  margin-right: 10px;
  fill: #757575;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primary-white-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--primary-white-color);
}

.icon-cross:hover, .icon-cross:focus, .icon-menu:hover, .icon-menu:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--primary-white-color);
  text-decoration: none;
}

.mobile-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-item {
  display: block;
}

.mobile-item:not(:first-child) {
  margin-top: 32px;
}

.mobile-link:hover, .mobile-link:focus {
  color: var(--accent-color);
}

.mobile-tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-email {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-contactTel {
  display: block;
  margin-top: 302px;
}

.mobile-contactEmail {
  display: block;
  margin-top: 33px;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-socialLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.slash {
  margin-left: 10px;
  color: rgba(33, 33, 33, 0.2);
}

.mobile-socialItem:not(:first-child) {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .header {
    height: 80px;
  }
  .menu-toggle {
    display: none;
  }
  .nav {
    margin-left: 88px;
  }
  .contacts {
    margin-left: 84px;
  }
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 1199px) {
  .contacts__items:not(:first-child) {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 305px;
  }
  .contacts__items:not(:first-child) {
    margin-left: 30px;
  }
}
/* Герой */
.hero {
  max-width: 1600px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: var(--secondary-background-color);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header@2x.jpg);
  }
}
.hero-content {
  text-align: center;
  padding-top: 118px;
}

.hero-title {
  margin: 0 auto;
  width: 360px;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  margin-top: 30px;
  border: none;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 450px;
  height: 609px;
  background-color: var(--primary-white-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.modal__button:hover .modal__cross, .modal__button:focus .modal__cross {
  fill: var(--accent-color);
}
.modal__cross {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  padding: 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.form__icon {
  position: absolute;
  top: 66%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
.form__field:hover .form__icon {
  fill: var(--accent-color);
}
.form__field:hover .form__input, .form__field:focus .form__input {
  border-color: var(--accent-color);
}
.form__field input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__input {
  margin-top: 4px;
  padding: 12px 0 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea {
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__checkbox {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form__checkboxA {
  color: var(--accent-color);
  text-decoration: underline;
}
.form__checkboxSpan {
  margin-left: 8.38px;
}
.form__checkboxIcon {
  fill: var(--primary-white-color);
  background-color: var(--primary-white-color);
  border: solid 2px var(--title-text-color);
  border-radius: 4px;
}
.form__checkboxInput:checked + .form__checkboxIcon {
  background-color: var(--accent-color);
  border-color: transparent;
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header768.jpg);
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header768@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header768@2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero-content {
    padding-top: 116px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .button {
    margin-top: 32px;
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header1200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header1200.jpg);
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header1200@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header1200@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .hero-title {
    width: 696px;
  }
}
@media (min-width: 1200px) {
  .hero-content {
    padding-top: 200px;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
@media (min-width: 1200px) {
  .form__title {
    line-height: 23px;
  }
}
@media (min-width: 1200px) {
  .form__checkbox {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.features__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 120px;
  background-color: var(--secondary-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__item {
  width: 450px;
}
.features__text {
  margin-top: 10px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features__icons, .features__item {
    width: 354px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .features__item:nth-child(2n) {
    margin-left: 30px;
  }
  .features__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .features__icons, .features__item {
    width: 270px;
  }
  .features__item:not(:first-child) {
    margin-left: 30px;
  }
}
@media (max-width: 1199px) {
  .nopadding {
    display: none;
  }
}
.nopadding {
  padding-top: 0;
}

.work {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work__item {
  position: relative;
}
.work__item:not(:first-child) {
  margin-left: 30px;
}
.work__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  background-color: var(--secondary-background-color);
  opacity: 0.8;
}
.work__name {
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 0;
}

.coworkers {
  background-color: var(--secondary-color);
}
.coworkers__list {
  margin-top: 30px;
}
.coworkers__item {
  width: 450px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.coworkers__pic {
  width: 450px;
  height: 460px;
}
.coworkers__name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: none;
}
.coworkers__profession {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.coworkers__socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
}
.coworkers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--social-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.coworkers__link:hover, .coworkers__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  fill: var(--primary-white-color);
}

@media (max-width: 767px) {
  .coworkers__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .coworkers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .coworkers__item {
    width: 354px;
  }
  .coworkers__item:nth-child(2n) {
    margin-left: 30px;
  }
  .coworkers__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .coworkers__pic {
    width: 354px;
    height: 374px;
  }
}
@media (min-width: 1200px) {
  .coworkers__list {
    margin-top: 50px;
  }
  .coworkers__item {
    width: 270px;
  }
  .coworkers__pic {
    width: 270px;
    height: 260px;
  }
  .coworkers__item:not(:first-child) {
    margin-left: 30px;
  }
  .coworkers__socialLinks {
    padding-bottom: 30px;
  }
}
.titleClients {
  margin-bottom: 15px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--social-color);
  fill: var(--social-color);
  background-color: var(--primary-white-color);
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover, .clients__item:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients__icon {
  width: 106px;
  height: 60px;
}

@media (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media (max-width: 1199px) {
  .clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .clients__list {
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
  .clients__list:not(:first-child) {
    margin-left: 30px;
  }
  .titleClients {
    margin-bottom: 50px;
  }
}
.logo--white {
  color: var(--primary-white-color);
}

footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
}

address {
  margin-top: 20px;
}

.footer__adress {
  color: var(--primary-white-color);
  line-height: 24px;
  font-style: normal;
}
.footer__contacts {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contacts:hover, .footer__contacts:focus {
  color: var(--accent-color);
}
.footer__sectionName {
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer__social {
  display: inline-block;
  width: 206px;
  margin-top: 60px;
}
.footer__socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__socialLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--primary-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socialLink:hover, .footer__socialLink:focus {
  background-color: var(--accent-color);
}
.footer__subscribeForm {
  display: inline-block;
}
.footer__subscribeEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: var(--secondary-background-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribeButton {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.footer__subscribeIcon {
  margin-left: 11px;
}

@media (max-width: 767px) {
  .footer__socialList {
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__tablet {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__subscribe {
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__social {
    margin-top: 5px;
  }
}
@media (max-width: 1199px) {
  .footer {
    text-align: center;
  }
  .footer__subscribeButton {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__subscribeForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__social {
    margin-top: 12px;
    margin-left: 70px;
  }
  .footer__subscribe {
    margin-top: 12px;
    margin-left: 93px;
  }
  .footer__subscribeButton {
    margin-left: 12px;
  }
}/*# sourceMappingURL=main.css.map */