.features {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    &__icons {
        display: flex;
        height: 120px;
        background-color: var(--secondary-color);
        justify-content: center;
        align-items: center;
        border-radius: 4px;

        margin-bottom: 30px;
    }

    &__text {
        margin-top: 10px;
        line-height: 24px;
    }
}

@media (min-width: 480px) {
    .features__item {
        width: 450px;
    }

    .features__icons {
        width: 450px;
    }
}

@media (max-width: 767px) {
    .features__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .features {
        display: flex;
        flex-wrap: wrap;
    }

    .features__icons, .features__item {
        width: 354px;
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .features__item:nth-child(2n) {
        margin-left: 30px;
    }

    .features__item:nth-child(-n+2) {
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .features__icons, .features__item {
        width: 270px;
    }
 
    .features__item:not(:first-child) {
        margin-left: 30px;
    }
}