/* Герой */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 200px 0;
    text-align: center;

    background-color: var(--secondary-background-color);

    &__title {
        width: 696px;
        margin-left: auto;
        margin-right: auto;
    }
}