/* Герой */
.hero {
    padding-top: 118px;
    max-width: 1600px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;

    background-color: var(--secondary-background-color);
}

@media (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header@2x.jpg);
    }
}

.hero-title {
    margin: 0 auto;
}

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    margin-top: 30px;

    border: none;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    opacity: 1;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 999;

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;

        transform: scale(0.5);
        opacity: 0;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    width: 100vw;
    height: 609px;

    background-color: var(--primary-white-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &__button {
        position: absolute;
        top: 8px;
        right: 8px;

        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        background-color: var(--primary-white-color);
        border: 1px solid #0000001A;

        &:hover .modal__cross,
        &:focus .modal__cross {
            fill: var(--accent-color);
        }
    }

    &__cross {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form {
    padding: 40px;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

        &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.03em;
            color: var(--title-text-color);
            margin-bottom: 12px;
        }

        &__icon {
            position: absolute;
            top: 66%;
            left: 12px;
            transform: translateY(-50%);

            display: inline-block;
            width: 18px;
            height: 18px;

            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &__field {
            position: relative;
            display: flex;
            flex-direction: column;
            text-align: left;
        
                &:hover .form__icon {
                    fill: var(--accent-color);
                }

                &:hover .form__input,
                &:focus .form__input {
                    border-color: var(--accent-color);
                }

                & input:focus+.form__icon {
                    fill: var(--accent-color);
                }
        }

        &__input {
            margin-top: 4px;
            padding: 12px 0 12px 42px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;

            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &__textarea {
            margin-top: 4px;
            padding: 12px 16px;

            resize: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;


                &::placeholder {
                    color: rgba(117, 117, 117, 0.5)
                }
        }

        &__checkbox {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

                &A {
                    color: var(--accent-color);
                    text-decoration: underline;
                }

                &Span {
                    margin-left: 8.38px;
                }

                &Icon {
                    fill: var(--primary-white-color);
                    background-color: var(--primary-white-color);
                    border: solid 2px var(--title-text-color);
                    border-radius: 4px;
                }

                &Input:checked+&Icon {
                    background-color: var(--accent-color);
                    border-color: transparent;
                }
        }
}

.form__field:not(:last-child) {
    margin-bottom: 10px;
}

@media (min-width: 480px) {
    .hero-title {
        width: 360px;
    }

    .modal {
        width: 450px;
    }
}

@media (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header768.jpg);
    
            @media (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header768@2x.jpg);
            }
        
        padding-top: 116px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .button {
        margin-top: 32px;
    }
}

@media (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header1200.jpg);
    
            @media (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header1200@2x.jpg);
            }
        } 

    .hero {
        height: 600px;
        padding-top: 200px;    
    }

    .hero-title {
        width: 696px;
    }

    .modal {
        width: 528px;
        height: 581px;
    }

    .form__title {
        line-height: 23px;
    }

    .form__checkbox {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;    
    }
}
